@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

html {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

#App {
  height: 100%;
}

.removeStyling {
  text-decoration: none;
  color: black;
}

.title {
  font-weight: 400;
}

.paddingTitle {
  padding-bottom: 45px;
}

.svgHeightReduce {
  height: 50px;
}

svg {
  background-color: #f9f5f1;
  background: linear-gradient(180deg, rgba(249,245,241,1) 93%, rgba(255,255,255,1) 100%);
}

.chartFlex {
  display: flex;
  justify-content: center;
}

.chartContainer {
  padding-left: 25px;
  padding-right: 25px;
  max-width: 1500px;
  width: 95%;
}

.chartTitle {
  color: #737373;
  text-align: center;
  padding-top: 45px;
  font-size: 50px;
  font-weight: 600;
}

.chartDescription {
  color: #737373;
  text-align: center;
  font-size: 20px;
}

.boxShadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 20px;
  overflow: hidden;
}

.buttonShadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  height: 55px;
  width: 50px; 
  border-radius: 0.375rem;
  opacity: 80%;
}

.buttonFix {
  border: 1px solid #dee2e6;
  background-color: #fff;
  width: 50%;
  max-width: 570px;
}

.justify {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.toGray {
  color: #737373;
}

.splash {
  background-color: #f9f5f1;
  height: 100%;
  width: 100%;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.splashText {
  font-size: 96px;
  color: #737373;
  font-weight: 300;

}

.growUp {
  animation: growFade;
  animation-duration: 3.8s;
  animation-fill-mode: forwards;
}

.fadeOut {
  animation: fadeOut;
  animation-delay: 3.6s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@media screen and (max-width: 1000px) {
  .splashText {
    font-size: 70px;
  }
}

@media screen and (max-width: 769px) {
  .splashText {
    font-size: 50px;
  }
}

@media screen and (max-width: 492px) {
  .splashText {
    font-size: 40px;
  }
}

@keyframes growFade {
  0% {transform: scale(0);
      opacity: 0;
    }
  50% {transform: scale(1);}
  70% {transform: scale(1);}
  100% {transform: scale(0.80);}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;
        display: none;    
  }
}